:root {
  --colorBGDark: #e5e5ff;
  --colorBGMedium: #ececf9;
  --colorBGWhite: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  min-width: 100vw;
}

.App {
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  background-color: var(--colorBGMedium);
  padding: 2rem;
  box-sizing: border-box;
}